@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

main {
    margin-top: 3%;
    width: 60%;
    width: 100%;
    border: none;
    margin-bottom: 5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.postheader {
    border: 0px solid;
    width: 100%;
    position: relative;
}

.img-postheader img {
    width: 100%;
    height: 20%;
    filter: brightness(50%);
}

.title-postheader,
.buttons-postheader {
    position: absolute;
    top: 66%;
    left: 10%;
}

.title-postheader {
    color: #ffffff;
    font-family: "Nunito Sans", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title-postheader h1 {
    font-weight: 800;
    font-size: 50px;
}

.title-postheader p {
    font-weight: 300;
    font-size: 20px;
    color: #ffffff;
}
/* Estos botones tiene que ser cambiados para que sea responsive*/
.buttons-postheader {
    top: 80%;
    display: flex;
    gap: 5%;
}

.button-download {
    color: #000;
    background-color: #fff;
    border: 0px;
    border-radius: 10px;
    height: 45px;
    width: 180px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.button-news {
    color: #fff;
    background-color: #b7b7b75b;
    border: 0px;
    border-radius: 10px;
    height: 45px;
    width: 250px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.button-download:hover{
    transform: scale(1.1); 
}

.button-news:hover{
    background-color: #b7b7b78d;
    transform: scale(1.1); 
}

/* ------------------------------------------------------ */

section {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Nunito Sans", sans-serif;
}

.features h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5%;
}

/* Cambiar para Responsive*/
.items {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    padding: 20px;
    border: 0px solid;
}

.text-items {
    margin-top: 8%;
    display: flex;
    border: 0px solid;
}

/*Cambiar para Responsive*/
.text-items img {
    width: 50%;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.text-items img:hover {
    transform: scale(1.05);
}

.text-items p {
    font-weight: 400;
    font-size: 1.3rem;
    text-align: justify;
    margin-right: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

.feature-item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.feature-item h3 {
    font-size: 1.3rem;
    margin-bottom: 5%;
}

.feature-item p {
    font-size: 1.1rem;
    color: #555;
}

.cta {
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0px solid;
}

.cta img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: sepia(0.4) saturate(2) brightness(1.2);
    border-radius: 15px;
    filter: brightness(80%);
}
/*Cambiar para Responsive*/
.cta-items {
    border-radius: 10px;
    color: white;
    max-width: 600px;
    z-index: 1;
    margin-right: 50%;
}

.cta-items h2{
    font-size: 1.5rem;
}

.cta-items p{
    text-align: left;
    margin-top: 3%;
    font-size: 1.2rem;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

@media (max-width: 1920px) {
    .buttons-postheader {
        top: 83%;
        display: flex;
        gap: 5%;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        gap: 3%;
        justify-content: center;
        padding: 20px;
        border: 0px solid;
    }

    .cta-items {
        border-radius: 10px;
        color: white;
        max-width: 600px;
        z-index: 1;
        margin-right: 40%;
    }
}

@media (max-width: 1316px) {

    .buttons-postheader {
        top: 86%;
        display: flex;
        gap: 5%;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        gap: 3%;
        justify-content: center;
        padding: 20px;
        border: 0px solid;
    }

    .feature-item {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        max-width: 300px;
        margin-bottom: 2%;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .cta-items {
        
        border-radius: 10px;
        color: white;
        max-width: 600px;
        z-index: 1;
        margin-right: 30%;
    }
    .text-items img {
        width: 40%;
        border-radius: 15px;
        transition: transform 0.3s ease-in-out;
    }
    
}