<html>

<head>
    <link rel="stylesheet" href="/src/components/footer/footer.css">
    <script src="https://kit.fontawesome.com/95b158783a.js" crossorigin="anonymous"></script>
</head>

<body>
    <footer>
        <div class="footer-background">
            <div class="footer-content">
                <div class="footer-links">
                    <ul>
                        <li><a href="/src/html/caracteristicas.html">Características</a></li>
                        <li><a href="/src/html/soporte.html">Soporte</a></li>
                        <li><a href="/src/html/descargar.html">Descargar</a></li>
                        <li><a href="/src/html/nosotros.html">Nosotros</a></li>
                    </ul>
                </div>
                <div class="footer-socials">
                    <h3>Sigue a Vectis Drive</h3>
                    <ul>
                        <li><a href="https://www.instagram.com/vectisdrive" target="_blank"><i
                                    class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                    <h3>Contactanos</h3>
                    <p><a href="https://mail.google.com/mail/?view=cm&fs=1&to=vectisdrivepowerandknowledge@gmail.com"
                            target="_blank">vectisdrivepowerandknowledge@gmail.com</a></p>

                </div>
            </div>

            <div class="footer-rights">
                <p>&copy; 2025 Vectis Drive. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
</body>

</html>